<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Product</h4>
      </div>
      <div class="modal-body">
        <form class="form-group" ng-submit="productAdd('Product Added')">
          <div class="modal-body">
            <div class="form-group">
              <input type="text" ng-model="newProd.name" class="form-control" placeholder="Product Name" autofocus="">
             </div>
            <div class="form-group">
              <input type="text" ng-model="newProd.price" class="form-control" placeholder="Price">
            </div>
            <div class="form-group">
              <input type="tel" ng-model="newProd.img" class="form-control" placeholder="Add Image (must be hosted URL)">
            </div>
          </div>
          <p ng-if="message">Product Already Exists</p>
          <p ng-if="saved">Product Added</p>          
          <div class="modal-footer">
            <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" value="Add" class="btn btn-primary"></input>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>