<div class="product-merge-modal modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Merge Product</h4>
      </div>
      <div class="modal-body">
        <form name="productOne" class=" dropdown col-xs-6">
          <label for="mySelect1">Product 1:</label>
          <select name="mySelect1" ng-options="option1.name for option1 in products track by option1.name"
          ng-model="option1.selectedOption"></select>
        </form>
        <form name="productTwo" class=" dropdown col-xs-6">
          <label for="mySelect2">Product 2:</label>
          <select name="mySelect2" ng-options="option2.name for option2 in products track by option2.name"
          ng-model="option2.selectedOption"></select>
        </form>
        <form class="form-group" ng-submit="productMerge()">
          <div class="product-content">
            <div class="form-group col-xs-6">
              <div class="product-attribute">
                <p>Image:</p>
                <label><input type="checkbox" 
                ng-model="mergedProduct.img.value1" 
                ng-click="mergedProduct.img.value2 = false">{{option1.selectedOption.img}}</label>
              </div>
              <div class="product-attribute">
                <p>Name:</p>
                <label><input type="checkbox" 
                ng-model="mergedProduct.name.value1"
                ng-click="mergedProduct.name.value2 = false">{{option1.selectedOption.name}}</label>
              </div>  
              <div class="product-attribute">
                <p>Price:</p>
                <label><input type="checkbox" 
                ng-model="mergedProduct.price.value1"
                ng-click="mergedProduct.price.value2 = false">{{option1.selectedOption.price}}</label>
              </div>                          
            </div>
            <div class="form-group col-xs-6">
              <div class="product-attribute">
                <p>Image:</p>
                <label><input type="checkbox" 
                ng-model="mergedProduct.img.value2"
                ng-click="mergedProduct.img.value1 = false">{{option2.selectedOption.img}}</label>
              </div>
              <div class="product-attribute">
                <p>Name:</p>
                <label><input type="checkbox" 
                ng-model="mergedProduct.name.value2"
                ng-click="mergedProduct.name.value1 = false">{{option2.selectedOption.name}}</label>
              </div>  
              <div class="product-attribute">
                <p>Price:</p>
                <label><input type="checkbox" 
                ng-model="mergedProduct.price.value2"
                ng-click="mergedProduct.price.value1 = false">{{option2.selectedOption.price}}</label>
              </div>                          
            </div>
          </div>
          <p ng-if="exists">Product Already Exists</p>
          <p ng-if="merged">Products Merged</p>
          <p ng-if="selectAttribues">Please select all attribues</p>
          <p ng-if="selectProducts">Please select 2 Products</p>
          <div class="modal-footer">          
            <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <input type="submit" value="merge" class="btn btn-primary"></input>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>